.note {
    background-color: #fef68a;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: pre-wrap;
    word-wrap: break-word;
    


}

.note-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-icon{
    cursor: pointer;
    width: 1.3rem;
}