.addNote {
    background-color: #6da8e8;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    max-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}



.new {
    background-color: #6da8e8;
}

.note-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-footer small {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.saveButton{
    width: 65px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 17px;
}



.note-textarea {
    border: none;
    resize: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}
.note-textarea:focus{
    outline: none;
    
}

