* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  width: 100vw;
  min-height: 100vh;


}

.dark-mode {
  background-color: #1e1e26;
  height: 100%;
}

.dark-mode h2 {
  color: white;
}


