.headerStyle{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    margin: 0 20px 0 20px;
    margin-bottom: 0.5em;
}

.headerStyle h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}



.buttonDarkMode {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 90px;
    height: 35px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    padding: 10px;
}

.buttonDarkMode img {
    width: 20px;
    margin-right: 5px;
}

.buttonDarkMode spam {
    font-size: 15px;
    font-weight: 600;
    line-height: 13px;
    text-align: left;

}



